h3 {
  color: black;
}

p {
  color: black;
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  border-radius: 25px 25px;
  padding: 0 15px;
  margin-right: 40px;
}

.item-color {
  opacity: 0.5;
}
