h3 {
  color: black;
}

.cart-item div {
  margin-right: 10px;
  margin-left: 45px;
}

p {
  color: black;
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  border-radius: 25px 25px;
}

.item-color {
  opacity: 0.5;
}
