
h3 {
    color: black;
}

.cart-item {
    display: flex;
    margin-bottom: 10px;

}

.cart-item div {
    margin-right: 10px;
    margin-left: 45px;

}

p {
    color: black;
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
}

.item-details {
    margin-top: 30px;
}