.bag-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: aliceblue;
}

.bag-view {
    color: rgb(26, 42, 56);
    margin-top: 15px;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    background-color: blanchedalmond;
    border-radius: 6px 6px;
    box-shadow: 3px 3px 3px gray;
}

/* Add a media query for screens smaller than 768px */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
}