.bag-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 120px;
  border-left: 2px solid gray;
  padding: 70px;
  transition: width 0.3s; /* Add smooth transition for width changes */
}

.bag-item {
  padding: 3px;
  margin: 3px;
}

.bag-item-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30px !important;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .bag-container {
    width: 50px; /* Adjust the width as needed for smaller screens */
    padding: 10px; /* Adjust the padding as needed for smaller screens */
  }

  .bag-item-image {
    width: 15px; /* Adjust the width as needed for smaller screens */
    padding: 5px 5px;
  }
}
