.item-card {
  padding: 0 200px 0 150px;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px 4px;
}

h2 {
  font-size: 33px;
  text-decoration: none;
  padding-bottom: 1px;
}

.item-paragraph-heading {
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}

.item-image {
  width: 160px;
  height: 200px;
  background-color: white;
  margin-right: 8px;
  border-radius: 10px 10px;
  margin-top: 30px;
}

hr {
  width: 50%;
}

.back-button {
  display: flex;
  margin-left: 50px;
}

.item-color {
  font-size: 15px;
  opacity: 0.6;
}

p {
  font-weight: bold;
}

.item-price {
  font-size: 17px;
  font-weight: bold;
}

.item-details {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.details {
  line-height: 1;
}
