form {
  margin: 30px;
  background-color: none;
}

form input {
  margin-top: 20px;
  padding: 7px;
}

form button {
  margin-left: 10px;
  padding: 6px;
}

form input,
form button {
  border: none;
  color: black;
  border-radius: 5px 5px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px gray;
}

#searchbar:focus {
  outline: none;
  border: none;
}

.product-not-found {
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 12px;
}
